/* COMPONENT: grid
=============================================================================*/

.grid-unit {
	display: inline-block;
	vertical-align: top;
	margin-right: -.25em;
	width: 100%;
	min-height: 50px;
}

/* COMPONENT: grid-A
=============================================================================*/

.grid-A > .grid-unit {
	background: red;
}

.grid-A > .grid-unit + .grid-unit {
	background: blue;
}

@include respond-min(480px) {
	.grid-A > .grid-unit {
		width: 50%;
	}
}

@include respond-min(720px) {
	.grid-A > .grid-unit {
		width: 33.33%;
	}
	.grid-A > .grid-unit + .grid-unit {
		width: 66.66%;
	}
}

/* COMPONENT: grid-B
=============================================================================*/

.grid-B > .grid-unit {
	background: red;
}

.grid-B > .grid-unit + .grid-unit {
	background: blue;
}

.grid-B > .grid-unit + .grid-unit + .grid-unit {
	background: green;
}

.grid-B > .grid-unit + .grid-unit + .grid-unit + .grid-unit {
	background: yellow;
}

@include respond-min(480px) {
	.grid-B > .grid-unit {
		width: 50%;
	}
}

@include respond-min(720px) {
	.grid-B > .grid-unit {
		width: 25%;
	}
}