/* COMPONENT: page
=============================================================================*/

.page {
	position: relative;
	margin: 0 auto;
	padding: 30px 30px 150px;
	max-width: 900px;
	height: auto !important;
	min-height: 100%;
	-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}

.page > h2 {
	margin-top: 80px;
	padding-top: 80px;
	border-top: 1px solid #ccc;
}