/* BLUEPRINT: slideshow
=============================================================================*/


/* STATE: small
=============================================================================*/

@mixin slideshow--small($selector) {

	#{$selector} {
		position: relative;
	}

	@include before($selector) {
		content: 'small';
		display: none;
	}

	#{$selector} .slideshow-panels {
		margin: 0;
		padding: 0;
	}

	#{$selector} .slideshow-panel {
		display: none;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#{$selector} .slideshow-panel.is-active {
		display: block;
	}

	#{$selector} .slideshow-panel-content {
		display: none;
	}

	#{$selector} .slideshow-panel-image img {
		display: block;
		max-width: 100%;
	}

	#{$selector} .slideshow-tabs {
		position: absolute;
		right: 40px;
		bottom: 25px;
		left: 40px;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	#{$selector} .slideshow-tab {
		display: inline-block;
		margin-left: 10px;
	}

	#{$selector} .slideshow-tab:first-child {
		margin-left: 0;
	}

	#{$selector} .slideshow-tab > a {
		display: block;
		width: 14px;
		height: 14px;
		background: rgba(0,0,0,.2);
		list-style: none;
		border-radius: 7px;
		text-indent: -99999px;
	}

	#{$selector} .slideshow-tab:hover > a,
	#{$selector} .slideshow-tab.is-active > a {
		background: rgba(0,0,0,.75);
	}
}


/* STATE: medium
=============================================================================*/

@mixin slideshow--medium($selector) {

	@include slideshow--small($selector);

	@include before($selector) {
		content: 'medium';
	}

	#{$selector} .slideshow-panel-content {
		display: block;
		position: absolute;
		left: 20px;
		top: 20px;
		padding: 20px;
		color: #fff;
		background: rgba(0,0,0,.2);
	}

	#{$selector} .slideshow-tab {
		margin-left: 15px;
	}

	#{$selector} .slideshow-tab > a {
		width: 20px;
		height: 20px;
		border-radius: 10px;
	}
}


/* STATE: large
=============================================================================*/

@mixin slideshow--large($selector) {

	@include slideshow--medium($selector);

	@include before($selector) {
		content: 'large';
	}

	#{$selector} .slideshow-panels {
		display: inline-block;
		vertical-align: top;
		margin-right: -.25em;
		width: 75%;
	}

	#{$selector} .slideshow-tabs {
		position: static;
		display: inline-block;
		vertical-align: top;
		width: 25%;
	}

	#{$selector} .slideshow-tab {
		position: absolute;
		top: 0;
		width: 25%;
		height: 25%;
		display: block;
		margin: 0;
	}

	#{$selector} .slideshow-tab:nth-child(2) {
		top: 25%;
	}

	#{$selector} .slideshow-tab:nth-child(3) {
		top: 50%;
	}

	#{$selector} .slideshow-tab:nth-child(4) {
		top: 75%;
	}

	#{$selector} .slideshow-tab > a {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 20px;
		width: auto;
		height: auto;
		border-top: 1px solid #fff;
		text-indent: 0;
		border-radius: 0;
		background: #bbb;
		color: #fff;
		text-decoration: none;
	}

	#{$selector} .slideshow-tab:hover > a,
	#{$selector} .slideshow-tab.is-active > a {
		background: #666
	}

	#{$selector} .slideshow-tab:first-child > a {
		border-top: 0;
	}
}


/* COMPONENT: slideshow
=============================================================================*/

/* Define non-responsive .slideshow--small component */
@include slideshow--small(".slideshow--small");


/* Define non-responsive .slideshow--medium component */
@include slideshow--medium(".slideshow--medium");


/* Define non-responsive .slideshow--large component */
@include slideshow--large(".slideshow--large");


/* If .slideshow is within the second column of .grid-A, then show the small state until 720px */
@include respond-max(479px) {
	@include slideshow--medium(".grid-A > .grid-unit:nth-child(2) > .slideshow");
}


/* If .slideshow is within the second column of .grid-A, then show the small state from 721px to 800px */
@include respond-min-max(480px, 719px) {
	@include slideshow--small(".grid-A > .grid-unit:nth-child(2) > .slideshow");
}


/* If .slideshow is within the second column of .grid-A, then show the large state from 801px */
@include respond-min(720px) {
	@include slideshow--large(".grid-A > .grid-unit:nth-child(2) > .slideshow");
}


/* If .slideshow is within .grid-B, then show the small state until 720px */
@include respond-max(479px) {
	@include slideshow--medium(".grid-B > .grid-unit > .slideshow");
}


/* If .slideshow is within .grid-B, then show the large state from 720px */
@include respond-min(480px) {
	@include slideshow--small(".grid-B > .grid-unit > .slideshow");
}