// https://gist.github.com/branneman/5495230

$old-pseudo-element-syntax: false !default;

@mixin before-after($selector: null) {
	@if ($selector) {
		@if $old-pseudo-element-syntax {
			#{$selector}:before, #{$selector}:after {
				@content;
			}
		} @else {
			#{$selector}::before, #{$selector}::after {
				@content;
			}
		}
	} @else {
		@if $old-pseudo-element-syntax {
			&:before, &:after {
				@content;
			}
		} @else {
			&::before, &::after {
				@content;
			}
		}
	}
}
@mixin before($selector: null) {
	@if ($selector) {
		@if $old-pseudo-element-syntax {
			#{$selector}:before {
				@content;
			}
		} @else {
			#{$selector}::before {
				@content;
			}
		}
	} @else {
		@if $old-pseudo-element-syntax {
			&:before {
				@content;
			}
		} @else {
			&::before {
				@content;
			}
		}
	}
}
@mixin after($selector: null) {
	@if ($selector) {
		@if $old-pseudo-element-syntax {
			#{$selector}:after {
				@content;
			}
		} @else {
			#{$selector}::after {
				@content;
			}
		}
	} @else {
		@if $old-pseudo-element-syntax {
			&:after {
				@content;
			}
		} @else {
			&::after {
				@content;
			}
		}
	}
}