// https://github.com/jakearchibald/sass-ie

$fix-mqs: false !default;

@mixin respond-min($width) {
	@if $fix-mqs {
		@if $fix-mqs >= $width {
			@content;
		}
	}
	@else {
		@media screen and (min-width: $width) {
			@content;
		}
	}
}

@mixin respond-max($width) {
	@if $fix-mqs {
		@if $fix-mqs <= $width {
			@content;
		}
	}
	@else {
		@media screen and (max-width: $width) {
			@content;
		}
	}
}

@mixin respond-min-max($min-width, $max-width) {
	@if $fix-mqs {
		@if $fix-mqs >= $min-width and $fix-mqs <= $max-width {
			@content;
		}
	}
	@else {
		@media screen and (min-width: $min-width) and (max-width: $max-width) {
			@content;
		}
	}
}