/* Set configuration options
=============================================================================*/
$old-ie: true;
$fix-mqs: 720px;
$old-pseudo-element-syntax: true;

/* Import screen stylesheet
=============================================================================*/
@import "screen";